<header>
  <h1>Campground</h1>
  <nav>
    <%= link_to "Home", "/" %>
    <%= link_to "Sites", "/sites" %>
    <%= link_to "Rules and Policies", "/rules" %>
    <%= link_to "Contact", "/contact" %>
  </nav>
  <hr>
</header>