<h1 class="text-3xl pb-4 pl-0 font-bold">Contact Us</h1>

<address class="pb-4">
  Name <br>
  Email <br>
  Address <br>
  Phone Number
</address>

<%# TODO: Email form %>
<p>Email form will be here.</p>

<h1 class="text-3xl py-4 font-bold">About</h1>

<p>Written by Aidan Carey.<br>Uses Ruby on Rails and Tailwind CSS.</p>