<h1 class="text-3xl p-4 font-bold">Contact Us</h1>

<address class="p-4 pt-0">
  Name <br>
  Email <br>
  Address <br>
  Phone Number
</address>

<%# TODO: Email form %>
<p class="pl-4">Email form will be here.</p>

<h1 class="text-3xl p-4 font-bold">About</h1>

<p class="pl-4">Written by Aidan Carey.<br>Uses Ruby on Rails and Tailwind CSS.</p>