<%= render "header" %>

<h1>Welcome to our Campground!</h1>

<p><%= link_to "Book your spot today!", sites_path %></p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni omnis
labore totam numquam vero hic impedit beatae pariatur nobis, ipsam aperiam
aut vel culpa neque voluptatum ipsum esse quis libero. Lorem ipsum dolor sit
amet consectetur adipisicing elit. Qui optio excepturi, voluptatem officiis
quos mollitia, veniam dicta dolor totam eius reprehenderit illo dolorum quis.
Dolorum nobis excepturi non veniam rem!</p>

<img src="https://picsum.photos/800/600" alt="lorem ipsum">

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni omnis
labore totam numquam vero hic impedit beatae pariatur nobis, ipsam aperiam
aut vel culpa neque voluptatum ipsum esse quis libero. Lorem ipsum dolor sit
amet consectetur adipisicing elit. Qui optio excepturi, voluptatem officiis
quos mollitia, veniam dicta dolor totam eius reprehenderit illo dolorum quis.
Dolorum nobis excepturi non veniam rem! Lorem ipsum dolor, sit amet consectetur
adipisicing elit. Magni omnis labore totam numquam vero hic impedit beatae
pariatur nobis, ipsam aperiam aut vel culpa neque voluptatum ipsum esse quis
libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui optio
excepturi, voluptatem officiis quos mollitia, veniam dicta dolor totam eius
reprehenderit illo dolorum quis. Dolorum nobis excepturi non veniam rem!</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni omnis
labore totam numquam vero hic impedit beatae pariatur nobis, ipsam aperiam
aut vel culpa neque voluptatum ipsum esse quis libero. Lorem ipsum dolor sit
amet consectetur adipisicing elit. Qui optio excepturi, voluptatem officiis
quos mollitia, veniam dicta dolor totam eius reprehenderit illo dolorum quis.
Dolorum nobis excepturi non veniam rem!</p>