<h1 class="text-3xl p-4 font-bold">Rules and Policies</h1>

<h2 class="text-xl p-4 pt-0 font-bold">Cancellation Policy</h2>

<ol class="p-4 pl-8 pt-0 list-disc">
  <li>If you cancel a reservation less than 24 hours in advance you will be charged.</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ol>

<h2 class="text-xl pl-4 font-bold">Campground Rules:</h2>

<ol class="p-4 pl-8 list-disc">
  <li>Quiet hours are between 11 pm and 7 am.</li>
  <li>Please do not smoke in the rooms or cabins.</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ol>