<%= render "header" %>

<div id="main">
  <h1>Rules and Policies</h1>

  <h2>Cancellation Policy</h2>

  <ol>
    <li>If you cancel a reservation less than 24 hours in advance you will be charged.</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ol>

  <h2>Campground Rules:</h2>

  <ol>
    <li>Quiet hours are between 11 pm and 7 am.</li>
    <li>Please do not smoke in the rooms or cabins.</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ol>
</div>