<%# TODO: When user is an admin, choose a user to make the reservation for %>

<h1>Create Reservation</h1>

<p>Creating a reservation for <%= @site.name %> <%= @site.number %></p>

<%= render "form" %>