/* General CSS */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 2rem;
}

body {
    overflow-y: scroll;
}

main {
    width: 80vw;
    margin: 0 auto;
}

.error {
    color: red;
}

/* Header */

header {
    text-align: center;
}

#user-login {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#flash-messages {
    position: absolute;
    top: 0rem;
    left: 1rem;
}

.notice {
    color: darkgreen;
}

.alert {
    color: red;
}

/* Sites Page */

li p {
    margin-bottom: 0;
}