/* General CSS */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

body {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

/* Header */

header {
    text-align: center;
}

/* Sites Page */

li p {
    margin-bottom: 0;
}